#root {
    height: 900px;
    width: 100%;
    display: flex;
    border-radius: 3%;
    background-color: #DFE2DB;
    margin: 5px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;  
    align-items: top  ;
    justify-content: center ;
  }
  
  
  .cuadrado {
    height: 50%;
    width: 30%;
    margin: 80px;    
    display: flex;
    border-radius: 5%;
    flex-wrap: wrap;
    background-color: #77BFA3;
    flex-direction: column;
    align-items: center;
    transition: filter 600ms;
  
  }
  .cuadrito:hover {
    filter: drop-shadow(0 0 2em #64ffce65);
  }
  
  .item{
    height: 10%;
    width: 80%;
    display: flex; 
    margin: 10px;  
    background-color: azure;
    text-align: center;   
    transition: filter 600ms; 
  }
  
  .botonPrestamo{
    height: 50px;
    width: 25%;
    margin: 5px;    
    display: flex;   
    border-radius: 10%;    
    background-color: #64A6BD;
    justify-content: center;  
    color: black;
  }

    #banco{
        flex-direction: row;
        color: black;
    }

    #monto{
        justify-content: row;
        color: black
    }