  #ppal{
    text-align: center;
    background-color: #bbd0ff;
  }

  .letra{
    color: black;
    font-size: 2em;
  }

  .btnHistorial{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    border: none;
    background-color: transparent;
    color: black;
  }

  .icono{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
  }

  .boton-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

  .botones{
    margin: 10px;
    display: flex;
    width: 200px;
    height: 50px;
    padding: 120px 215px;
    justify-content: center;
    align-items: center;
    background-color: #858AE3;
    color: black;
    font-size: 1.5em;
  }

  .menu-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: black;
  }

  .sidebar {
    height: 100%; 
    width: 0; 
    position: fixed; 
    top: 0;
    left: 0;
    background-color: #9999ff; 
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidebar.open {
    width: 280px;
  }

  .sidebar a {
    padding: 8px 8px 8px 3px;
    text-decoration: none;
    font-size: 25px;
    color: #2C0735;
    display: block;
    transition: 0.3s;
  }

  .sidebar a:hover {
    color: #613DC1;
  }

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }