.cuadrito {
    height: 400px;
    width: 500px;
    margin: 80px;    
    display: flex;
    border-radius: 30px;
    flex-wrap: wrap;
    background-color: #858AE3;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: filter 600ms;
  }
  
  .cuadrito:hover {
    filter: drop-shadow(0 0 2em #2C0735);
  }

  .item{
    height: 35px;
    width: 250px;
    display: flex; 
    margin: 12px;  
    background-color: white;
    text-align: center;   
    transition: filter 600ms; 
    color: black;
  }
  
  .botonStyle{
    height: 50px;
    width: 25%;
    margin: 5px;    
    display: flex;   
    border-radius: 10px;    
    background-color: #4E148C;
    justify-content: center;  
    align-items: center;
  }

  .letra {
  color: black;
  }

  .letrica{
    color:red;
    font-size: 19px;

  }