#root {
  height: 900px;
  width: 100%;
  display: flex;
  border-radius: 3%;
  background-color: bisque;
  margin: 5px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;  
  align-items: top  ;
  justify-content: center ;
}


.cuadrito {
  height: 40%;
  width: 30%;
  margin: 80px;    
  display: flex;
  border-radius: 5%;
  flex-wrap: wrap;
  background-color: rgb(12, 116, 116);
  flex-direction: column;
  align-items: center;
  transition: filter 600ms;

}
.cuadrito:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.item{
  height: 10%;
  width: 80%;
  display: flex; 
  margin: 10px;  
  background-color: azure;
  text-align: center;   
  transition: filter 600ms; 
}


.botonStyle{
  height: 35px;
  width: 10%;
  margin: 5px;    
  display: flex;   
  border-radius: 10%;    
  background-color: rgb(0, 0, 0);
  justify-content: center;  
}